@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --header-height: 6rem;  
  --first-color: #c46e02;
  --title-color: hsl(0,0%,100%);
  --text-color: hsl(0,0%,77%);
  --body-color: hsl(0,0%,6%);
  --container-color: hsl(0,0%,10% );
  --border-color:hsla(0,0%,100%,0.2);
  --body-font:"Poppins", sans-serif;
  --second-font:"Montserrat", sans-serif;
  --big-font-size: 4.5rem ;
  --h1-font-size: 3.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;
  --weight-300:300;
  --weight-400:400;
  --weight-500:500; 
  --weight-600:500;  
  --weight-700:700;   
  --weight-900:900;  
  --transition: cubic-bezier(0.05,0.2,0.1,1);
  --radius:0.5rem;
  --z-toolip:10;
  --z-fixed:10;
} 
@media screen and (max-width:992px){}
    /* :root {
        --h2-font-size:;
        --h3-font-size:;
        --normal-font-size:;
        --small-font-size:;
        --smaller-font-size:;
    

    } */

  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
 
  }
  input,
  textarea,
  body {
    color: var(--text-color);
    font-family:var(--body-font);
    font-size:var(--ronmal-font-size);
    font-weight: var(--weight-300);  
  }
  body {
    background-color:var(--body-color);
    
  }
  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight:var(--title-color);
    
  }
 ul{
    list-style:none;
 }
 a{
    text-decoration: none;
 }
 p {
   line-height:1.67em; 
   }
img {
   max-width: 500px; 
 }
 textarea,
 input {
    background-color: none;
    border:none;
    outline: none;
 }
 .container {
    max-width:1260px;
    margin-inline:auto;
    padding-inline:1.25rem;

 } 
 .grid {
    display: grid;
    gap:2rem;
 }
 .home {    
    padding-block: 5rem 9rem;
 }
 .home__container {
    grid-template-columns: 7fr 5fr;
    align-items: center;
 }
 .home__subtitle {
    font-size: var(--small-font-size);
    font-size: var(--weight-400);
    margin-bottom: 1.25rem;
    display: block;
    color: var(--first-color);

 }
 .home__title {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-700);
 }
 .home__img {
   width: 390px; 
   height:390px;
   border-radius: 50%;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.007));

 }
 .home__light-img {
   width: 390px; 
   height:390px;
   border-radius: 50%;
   filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.842))
 }
 .blackhole-wrapper {
  margin-left: 20px;
  width: 450px;      
  height: 450px;
  border-radius: 47% 53% 71% 29% / 47% 57% 43% 53%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

 background: radial-gradient(circle,
    rgba(0,0,0,1) 0%,               
    rgba(255, 195, 0, 0.839) 45%,               
    rgba(255, 115, 0, 0.654) 65%,                
    rgba(255, 68, 0, 0.374) 75%,          
    rgba(255, 85, 0, 0.301) 85%, 
    rgba(0,0,0,0) 100%
   
  );

 

  box-shadow:
    0 0 25px 10px rgba(255, 102, 0, 0.312),
    0 0 50px 25px rgba(255, 119, 0, 0.191),
    0 0 90px 40px rgba(255, 89, 0, 0.066);
}


 .light-wrapper{
    margin-left: 20px;
    width: 450px;     
    height: 450px;
    border-radius:37% 63% 54% 46% / 55% 28% 72% 45%  ;
    background-color: #CFB53B;
 }
.header {
    background-color: transparent;
    position: fixed;
    inset:0 0 auto;
    z-index:1000;
}
.nav,
.nav-list, 
.nav-btns{
  display: flex;   
}
.nav-btns{
    align-items: center;
}
.change-theme{
    padding-top: -10px;
    margin-top: -16px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s;
}
.change-theme:hover{
    color:var(--first-color)
}
.Container{
    max-width: 1260px;
    margin-inline:auto   ;
    padding-inline:1.25rem;
}
.nav{
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    height: 4.5rem;

}
.nav-logo,
.nav_link,
.change-theme {
   text-decoration: none;
   color:var(--title-color);
}
.nav-logo{
  display: flex;
  justify-content: space-between;
  font-size: var(--h3-font-size);
  font-weight: var(--weight-500);
  align-items: center;
  gap: 8px;

}

.nav-icon {
  width: 60px;   
  height: 60px;
  padding: 5px;
  margin: 5px;
}
.nav-menu {
    margin-left: auto;
   
}
.nav-list{
    column-gap: 2.75rem;
    text-decoration: none;
    color: inherit;
}
.nav_link{
    font-weight: var(--weight-400);
    transition: color 0.3s;
}    
.nav_link:hover {
   color:var(--first-color)
}
.change-theme{
    font-size: 1.25rem;
} 
.nav-btns{
    align-items:center;
}
.nav-close,.nav-toggle{
    display: none;
}
.home__buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contact,.button{
    text-decoration: none;
    color:var(--text-color);
    padding: 10px;
    margin-top: 20px;
    font-weight: var(--weight-500);
}
.contact{
    background-color: var(--first-color);
    padding-right:16px;
    
}
.contact,.button{
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 7%;
}
.button{
    transition: color 0.3s;
}
.button:hover{
   color: var(--first-color);
}
.resume{
    background-color: var(--first-color);
}
.scrolled-header{
    background-color: var(--body-color);
    box-shadow: (0,4px hsla(30, 8%, 85%, 0.071));    
} 
.light-theme {
  --first-color:  #CFB53B;
  --title-color: hsl(0,8%,16%);
  --text-color: hsl(0,8%,28%);
  --body-color: hsl(0,8%,99%);
  --container-color: hsl(216,8%,95% );
}
