@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --header-height: 6rem;  
  --first-color: #c46e02;
  --second-color:#c46d02c4;
  --title-color: hsl(0,0%,100%);
  --text-color: hsl(0,0%,77%);
  --body-color:oklch(0.08 0.01 240);
  --navbar-color:oklch(0.1 0.015 240);
  --container-color: hsl(0,0%,10% );
  --container-color2: hsla(0, 0%, 10%, 0.916);
  --box-color:hsla(28, 89%, 48%, 0.16);
  --box-color-2:oklch(0.1 0.015 240);
  --border-color:oklch(0.22 0.03 240);
  --border-color-2:hsla(0,0%,100%,0.2);
  --body-font:"Poppins", sans-serif;
  --second-font:"Montserrat", sans-serif;
  --big-font-size: 4.5rem ;
  --h1-font-size: 3.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;
  --weight-300:300;
  --weight-400:400;
  --weight-500:500; 
  --weight-600:500;  
  --weight-700:700;   
  --weight-900:900;  
  --transition: cubic-bezier(0.05,0.2,0.1,1);
  --radius:0.5rem;
  --z-toolip:10;
  --z-fixed:10;
} 
@media screen and (max-width:992px){}
    /* :root {
        --h2-font-size:;
        --h3-font-size:;
        --normal-font-size:;
        --small-font-size:;
        --smaller-font-size:;
    

    } */

  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
 
  }
  /* .main{
    display: flex;
    flex-direction: column;
  } */
  input,
  textarea,
  body {
    color: var(--text-color);
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
    font-weight: var(--weight-300);  
  }
  body {
    background-color:var(--body-color);
    
  }
  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight:var(--title-color);
    
  }
 ul{
    list-style:none;
 }
 a{
    text-decoration: none;
 }
 p {
   line-height:1.67em; 
   }
img {
   max-width: 500px; 
 }
 textarea,
 input {
    background-color: none;
    border:none;
    outline: none;
 }
 .container {
    max-width:1260px;
    margin-inline:auto;
    padding-inline:1.25rem;

 } 
 /* .home__content{
  display: flex;
  gap: .25rem;
  flex-direction: column;
 } */
 .grid {
    display: grid;
    gap:1rem;
 }
 .home {    
    padding-block: 5rem 9rem;
 }
 .home__container {
    grid-template-columns: 7fr 5fr;
    align-items: center;
 }
 .home__subtitle {
    font-size: var(--small-font-size);
    font-size: var(--weight-400);
    margin-bottom: 1.25rem;
    display: block;
    color: var(--first-color);

 }
 .home__title {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-700);
 }
 .home__img {
   width: 390px; 
   height:390px;
   border-radius: 50%;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.007));

 }
 .home__light-img {
   width: 390px; 
   height:390px;
   border-radius: 50%;
   filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.842))
 }
 .blackhole-wrapper {
  margin-left: 20px;
  width: 450px;      
  height: 450px;
  border-radius: 47% 53% 71% 29% / 47% 57% 43% 53%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

 background: radial-gradient(circle,
    rgba(0,0,0,1) 0%,               
    rgba(255, 195, 0, 0.839) 45%,               
    rgba(255, 115, 0, 0.654) 65%,                
    rgba(255, 68, 0, 0.374) 75%,          
    rgba(255, 85, 0, 0.301) 85%, 
    rgba(0,0,0,0) 100%
   
  );

 

  box-shadow:
    0 0 25px 10px rgba(255, 102, 0, 0.312),
    0 0 50px 25px rgba(255, 119, 0, 0.191),
    0 0 90px 40px rgba(255, 89, 0, 0.066);
}


 .light-wrapper{
    margin-left: 10px;
    width: 450px;     
    height: 450px;
    border-radius:50% 50% 54% 46% / 55% 46% 54% 45% ;
    background-color: #c46e02;
 }
.header {
    background-color: var(--navbar-color);
    position: fixed;
    inset:0 0 auto;
    z-index:1000;
    margin-bottom: 20px;
    border-bottom: solid var(--border-color) 1px
}
.nav,
.nav-list, 
.nav-btns{
  display: flex;   
}
.nav-btns{
    align-items: center;
}
.has-submenu,
.has-submenu-2{
  position: relative;
}
.sub_menu-wrap{
  position:absolute;
  translate: 250px;
  top: 100%;
  left: 0;  
  max-height: 0px;
  overflow: hidden;
  transition:max-height  0.5s ease;
  padding-left: 10px;
  border-radius: .25rem;
  z-index: 1000;
}
.sub_menu-wrap-2{
  position:absolute;
  width: 300px;
  translate: -71px 30px;
  top: 100%;
  left: 0;  
  max-height: 0px;
  overflow: hidden;
  transition:max-height  0.5s ease;
  padding-left: 10px;
  border-radius: .25rem;
  z-index: 1000;
}
.has-submenu-2:hover > .sub_menu-wrap-2 {
  display: block;
}
.has-submenu:hover > .sub_menu-wrap {
  display: block;
}
.open-menu{
  max-height: 400px;
}
.sub-menu{
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 10px;
  background-color:var(--navbar-color);
  display: flex;
  flex-direction: column;
  gap: 1.25fr;
  border-left: solid var(--border-color) 1px;
  border-right: solid var(--border-color) 1px;
  border-bottom: solid var(--border-color) 1px;;
  border-radius: .25rem;

}
.sub-link{
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.5s;
  font-size: var(--normal-font-size);
  transition: transform 0.8s;
}
.sub-link:hover{
  color: #c46e02;
  transform: translateX(5px);
}


.change-theme{
    padding-top: -10px;
    margin-top: -16px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s;
}
.change-theme:hover{
    color:var(--first-color)
}
.main{
  padding-top: 2rem;
}
.Container{
    max-width: 1260px;
    margin-inline:auto   ;
    padding-inline:1.25rem;
}
.nav{
    background-color: transparent;
    justify-content: space-between  ;
    align-items: center;
    column-gap: 0.75rem;
    height: 5.5rem;

}
.nav-logo,
.nav_link,
.change-theme {
   text-decoration: none;
   color:var(--title-color);
}
/* .nav-logo{
  display: flex;
  justify-content: space-between;
  font-size: var(--h3-font-size);
  font-weight: var(--weight-500);
  align-items: center;
  gap: 8px;

} */

.nav-icon {
  width: 80px;   
  height: 80px;
  padding: 5px;
  margin: 5px;
}
/* .nav-menu {
    margin-left: auto;
   
} */
.nav-list{
    column-gap: 2.75rem;
    text-decoration: none;
    color: inherit;
}
.nav_link{
    font-weight: var(--weight-400);
    transition: color 0.3s;
}    
.nav_link:hover {
   color:var(--first-color)
}
.change-theme{
    font-size: 1.25rem;
} 
.nav-btns{
    align-items:center;
}
.nav-close,.nav-toggle{
    display: none;
}
.home__buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contact,.button{
    text-decoration: none;
    color:var(--text-color);
    padding: 10px;
    margin-top: 20px;
    font-weight: var(--weight-500);
}
.contact{
    background-color: var(--first-color);
    padding-right:16px;
    transition: color 0.3s;
    
}
.contact:hover{
   background-color:var(--second-color);
}
.contact,.button{
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: .5rem;
}
.button{
    transition: color 0.3s;
}
.button:hover{
   color: var(--first-color);
}
.resume{
    background-color: var(--body-color);
    padding-block: 5rem 9rem;
    transform: translateY(-9rem);

}
.scrolled-header{
    background-color: var(--body-color);
    box-shadow: (0,4px hsla(30, 8%, 85%, 0.071));    
} 
.light-theme {
  /* --first-color:  #CFB53B;
  --second-color: #cfb43bc8; */
  --title-color: hsl(0,8%,16%);
  --text-color: hsl(0,8%,28%);
  --body-color:oklch(0.99 0.005 80);
  --container-color: hsl(0,8%,99%); 
  --container-color2: hsla(0, 33%, 97%, 0.591);
  --box-color-2:   oklch(0.98 0.01 80);
  --border-color: oklch(0.88 0.01 240);
  --navbar-color:oklch(0.98 0.005 80);
  /* --box-color:hsla(47, 89%, 85%, 0.848); */
}
.resume-container{
    display: grid;
    gap:2rem;
    max-width:1260px;
    margin-inline:auto;
    padding-inline:1.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
.experience-container,
.education-container{
     background-color: var(--box-color-2);
     padding: 1.25rem;  
     border-radius: 5%;
     display: flex;
     flex-direction: column;
     gap: 1.75rem;
     border:solid var(--border-color) 1px;
}
.edu-list,.exp-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.education-item{
  text-decoration: none;
}
.education-title,.experience-title{
  display: flex;
  align-items: center;
  gap: 16px;
}
.box-icon-edu,.box-icon-exp{
  background-color:var(--box-color);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15%;
  color:var(--first-color)
}
.edu-subtitle,.exp-subtitle{
  color: var(--first-color);
}
.edu-text,.exp-text{
  color: var(--text-color);
  transition: color 0.3s;
}
.edu-text:hover{
  color: var(--first-color);
}
.education-title,.experience-title{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-700);
}
.pub_title{
  font-family:var(--body-font);
  font-size: 2.75rem;
  font-weight:var(--weight-700) ;

}
.pub_description{
    font-family:var(--body-font);
    font-size: var(--normal-font-size);
    font-weight:var(--weight-400) ;
}
.pub_title-container{
   /* max-width:1260px;
   margin-inline:auto; */
   padding-inline:1.25rem;
   margin-bottom: 50px;
}
.article-item{
  padding: 30px;
  color: var(--title-color);
  display: flex;
  gap: 13px;
  border: solid var(--border-color) 1px;
  margin-bottom: 25px;
  border-radius: 1.5rem;
  background-color:var(--box-color-2);
}
.article-item:hover{
  border:solid var(--first-color) 1px;
}
.publications-container{
  max-width:1260px;
  padding-inline:1.25rem;
}
.publications{
  padding-block: 5rem 9rem;
  display: flex;
  gap: 3fr;
  flex-direction: column;
  padding-top: 7rem;
}

 .hidden{
  display: none;
 }

 .show_all{
  background-color: var(--box-color-2);
  color: var(--first-color);
  padding: 10px;
  border: none;
  border-radius: .5rem;
 }
 .show_all:hover{
  background-color: var(--box-color);

 }
 .article-sub{
  color: var(--first-color);
 }
 .more_authors{
  color: var(--text-color);
 }
 .file_icon{
  background-color: var(--box-color);
  padding: 8px;
  font-size: var(--h3-font-size);
  font-weight: var(--weight-300);
  border-radius: 12.5%;
  
 }
 .pub-link{
  color: var(--first-color);
 }
 .show_abstract{
  display: block;
  background-color: var(--box-color-2);
  color: var(--title-color);
  padding: 10px;
  border: none;
  border-radius: .5rem;
  margin-top: 15px;
 }
 .show_abstract:hover{
  background-color: var(--border-color-2);
 }
 .Hidden{
  display: none;
 }
 .title_container-gr{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 4rem;
 }
 .title_gr{
  font-weight: var(--weight-700);
 }
 .button_members{
  margin-top: 50px;
  display: flex;
  gap: 20px;
  border: solid var(--border-color) 1px;
  border-radius: .5rem;
  padding: 1px;
  cursor: pointer;
  background-color: var(--box-color-2);
 }
.current_members,
.former_members{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 2px;
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
}
.Active{
  background-color: var(--first-color);
  border-radius: .5rem;
}
.thesis_work{
  text-decoration: none;
  color: var(--text-color);
}
.visiting,
.students,
.formerStudents{
  position: relative;
  padding-left: 65px; 
  font-size: var(--h2-font-size);
  font-weight: var(--weight-700);
}
.visiting::before,
.formerStudents::before,
.students::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 55px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: .25rem;
  transform: translateY(-50%)
}
.visiting_container,
.students_container,
.former_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 30px 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.current_members-container,
.former_members-container{
   padding-inline:1.25rem;
}
.member_info,
.mail_member,
.location_member,
.number_member,
.institution_member,
.date{
  display: flex;
  gap: 12px;
 }
 .research_member,
.research_member-2{
  background-color: var(--box-color-2);
  border: solid var(--border-color) 1px;
  border-radius: .5rem;
  padding: 30px;
  transition: border ease 0.3s;
 }
 .research_member:hover,
  .research_member-2:hover{
  border: solid var(--first-color) 1px;
 }
 .pf_container, 
 .centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 .img_container{
   height: 80px;
   width: 80px;
  
 }
 .img_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;  
 }
 .gm_icon{
  margin-top: 6px;
  color: var(--first-color);
 }
 .eduIcon{
  margin-top:3px;
 }
 .students,
 .formerStudents
 {
  margin-bottom: 30px;
 }
.member_name{
  margin-top: 20px;
}
.short{
  padding-top: 30px;
}
.date_f{
  display: flex;
  margin-left: 85px;
  gap:7px;
}
.location_member-f{
  display: flex;
  gap:5px
}
.member_info{
  background-color: var(--body-color);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 1.25rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--weight-500);
  margin-bottom: 40px;
  margin-top: 5px;
} 
.profession{
  padding-left: 5px;
  margin-left: 90px;
  width: 165px;
  margin-top: 5px;

}
.professor{
 max-width: 120px;
 margin-left: 95px;
 margin-top: 5px;
}
.mail_member,.Thesis{
  width: 100%;
  border-top: solid var(--border-color) 1px;
  padding-top: 7px;
}
.right{
  padding-left: 50px;
}
.thesis{
  color: var(--border-color);
  font-size: var(--small-font-size);
}
.footer{
  background-color: var(--box-color-2);
  padding-block:2rem;
  border-top: solid var(--border-color) 1px;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row ;
  padding-inline: 1.75rem;
}
.footer-social{
  display: flex;
  column-gap: 1rem;
}
.footer-link{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  transition: color 0.3s;
}
.footer-link:hover{
    color: var(--first-color);
}
.footer-copyright{
  font-weight: var(--weight-500);
}
.footer-copyright span{
  color: var(--first-color);
}
.hidden_members{
  display: none;
}
.member_group{
  transition: opacity .3s ease;
}


/* .nav_link::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--first-color);
  border-radius: .25rem;
} */
/* .title_gr,
.sub_title-gr
{

  width: 100%;
  text-align: center;
  top: 50%;
} */
/* .title_gr{
  text-align: center;
} */
 /* .container {
    max-width:1260px;
    margin-inline:auto;
    padding-inline:1.25rem;

 }  */

 /* .home {    
    padding-block: 5rem 9rem;
 }
